@import "tailwindcss";

@font-face {
  font-family: 'Signika Light';
  src: url('/Signika-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Bitcount Cursive';
  src: url('/Bitcount_Cursive-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-sans: "Signika Light", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-display: "Bitcount Cursive", cursive;
  --color-brand-black: #000000;
  --color-brand-plum: #3B1C32;
  --color-brand-magenta: #A64D79;
  --color-brand-pink: #A64D79;
  --color-brand-highlight: #DFA1C4;
}

@layer base {
  body {
    @apply font-sans;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-display tracking-tight font-normal;
  }
}
